@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Righteous);

#menuButton {
	background-color: #9cdad6;
	border-radius: 8px;
	margin-right: 50px;
	font-family:'Righteous', serif;
	
}

#navBtns{
	background-color: #9cdad6;
	border-radius: 8px;
	font-family:'Righteous', serif;
}

#title {
	font-size: 100px;
}

#welcome {
	color: #f5f6ff;
	 font-family:'Cookie',cursive;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 300%;
	border-radius: 20px;
	background-color: #000062;
	text-align: center;
}

#description {
	color: #f5f6ff;
	font-family:'Righteous', serif;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 50%;
	border-radius: 20px;
	background-color: #000062;
	text-align: center;

}

#viewLecturesButton {
	font-family: Arial;
  	color: #ffffff;
  	font-size: 10px;
	background-color: #9cdad6;
 	box-shadow: 11px 9px 8px #304261;	
 	border-radius: 7px;
	background-image: -webkit-linear-gradient(top, #9cdad6, #90bbb9);
	
}

#login{
	/* background-color: #000062; */
	border-radius: 15px;
}

#loginButton{
	-webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family:'Righteous', serif;
  color: #ffffff;
  font-size: 16px;
  padding: 3px 10px 10px 10px;
  border: solid #ffffff 1px;
  text-decoration: none;
  background-color: #9cdad6;
  left: 30px;
  
}

#loginLabel{
	  color: #edecee;
	  font-size: 20px;
	  
	
}


input[type=text] {
	font-family: Courier New;
    color: #edecee;
}

input[type=password] {
	font-family: Courier New;
    color: #edecee;
}

.btn:hover{
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db); 

	
} 

.col s5:hover{
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db); 
	
}

.col s7:hover{
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db); 
	
}

.col s6:hover{
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}


#courseTable{
	font-stretch: expanded;
	font-weight: bold;
	font-size: 100%;
	border-radius: 20px;
	/* background-color: #000062; */
	text-align: center;
	color: #edecee;
}
#chatbox{
  
  width: 600px;
    position: fixed;
    height: 70%;
overflow: auto;
    right: 0px;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(29, 49, 91, .3);
  
    margin-top:2cm;
    background-color: white;
}
#chattextarea{
  
   position:fixed;
   bottom:0;
    height:75px;
    width:50%;
  
  border-top: thick double;
  
 
}
input, textarea {
    font-size:12px; 
    width:57%; 
    
 
    padding: 15px 32px;
    margin:0 ;
}
#button1{
  background-color: #4CAF50;
  padding: 15px 32px;
  width:25%;
}

h4, label{
color: #fff;
  font-family: 'Righteous', serif;
  font-weight: bold; 
  text-shadow:
    -3px -3px 0 hsla(230,40%,50%,1), 
     3px -3px 0 hsla(230,40%,50%,1), 
    -3px 3px 0 hsla(230,40%,50%,1),
    3px 3px 0 hsla(230,40%,50%,1),
    4px 4px 0 #fff, 
    5px 5px 0 #fff, 
    3px 3px 0 #fff, 
	3px 3px 0 #fff; 
	line-height: 0.2em;
  letter-spacing: 0.3em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.9);
  -moz-transform: scaleY(0.9);
  margin:0;
  text-align: center; 
}

tbody tr:nth-child(odd) {
  /*  background-color: #88a5a5; */
}
tbody tr:nth-child(even) {
   /* background-color: #9cbebe; */
}

tbody tr:hover {
   background-color: #a5cbc6;
} 

 

  
/* Title Animation*/ 
  
  

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

html, body {
  
  }
  body {
    background-color: hsla(230,40%,50%,1);
    }
  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  	height: 100%; 
    } 

font {
	text-align: center;
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif; 
  font-size: 10em;  
  text-shadow: .03em .03em 0 #000062;
  right:20px;
  left: 20px;
  }
  font:after {
  text-align: center;
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }